<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bond.Core.CSharp" version="5.1.0" targetFramework="net452" />
  <package id="Bond.CSharp" version="5.1.0" targetFramework="net452" />
  <package id="Bond.Runtime.CSharp" version="5.1.0" targetFramework="net452" />
  <package id="CacheManager.Core" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.Couchbase" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.Memcached" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.Microsoft.Extensions.Caching.Memory" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.Microsoft.Extensions.Configuration" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.Microsoft.Extensions.Logging" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.Serialization.Bond" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.Serialization.fastJSON" version="0.8.0" targetFramework="net452" />
  <package id="CacheManager.Serialization.Json" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.Serialization.ProtoBuf" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.StackExchange.Redis" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.SystemRuntimeCaching" version="1.0.1" targetFramework="net452" />
  <package id="CacheManager.Web" version="1.0.1" targetFramework="net452" />
  <package id="Common.Logging" version="3.3.1" targetFramework="net452" />
  <package id="Common.Logging.Core" version="3.3.1" targetFramework="net452" />
  <package id="CouchbaseNetClient" version="2.3.8" targetFramework="net452" />
  <package id="EnyimMemcached" version="2.16.0" targetFramework="net452" />
  <package id="fastJSON" version="2.1.16" targetFramework="net452" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Caching.Memory" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Options" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.Primitives" version="1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="protobuf-net" version="2.1.0" targetFramework="net452" />
  <package id="StackExchange.Redis.StrongName" version="1.2.1" targetFramework="net452" />
  <package id="System.Collections" version="4.0.11" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net452" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net452" />
  <package id="System.ComponentModel.Primitives" version="4.1.0" targetFramework="net452" />
  <package id="System.ComponentModel.TypeConverter" version="4.1.0" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net452" />
  <package id="System.IO" version="4.1.0" targetFramework="net452" />
  <package id="System.Linq" version="4.1.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net452" />
  <package id="System.Runtime" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net452" />
  <package id="System.Runtime.InteropServices" version="4.1.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.11" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net452" />
</packages>