<?xml version="1.0" encoding="utf-8"?>

 <connectionStrings>
    <add name="HangFire_DevEntities" connectionString="metadata=res://*/HangFire.csdl|res://*/HangFire.ssdl|res://*/HangFire.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=HangFire_Dev;user id=sa;password=123456;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
